<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
    <h1>Invoice</h1>

    <p>Invoice id: <span data-th-text="${invoiceId}"></span></p>
    <p>Name: <span data-th-text="${name}"></span></p>
    <p>Address: <span data-th-text="${address}"></span></p>
    <p>Total: <span data-th-text="${total}"></span></p>

</body>
</html>