<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping address</title>
</head>
<body>
    <h1>Shipping Address</h1>
    <form action="/orderReceived" method="POST" data-th-object="${info}">
        <label for="name">Name: </label>
        <input name="name" type="text" data-th-field="*{name}" >
        <!--<p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"></p>-->

        <br>
        <label for="address">Address: </label>
        <input name="address" type="text" data-th-field="*{address}">
        <!--<p data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{address}"></p>-->

        <br>
        <button>Back</button>
        
        <button type="submit">Checkout</button>
    </form>
</body>
</html>

